html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

nav{
    width: 100%;
    background: #dab75a;
    overflow: hidden;
    position: fixed;
    top: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    float: left;
}

a{
    padding: 20px;
    width: 100px;
    display: block;
    text-decoration: none;
    color: #8b610f;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}
#section{
    height: 600px;
    width: 100%;
    background-image: url('images/header-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.logo {
    border-radius: 300px;
    height: 300px;
    width: 300px;
    margin-top: 180px;
}

.description h1 {
    color: #8b610f;
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    text-shadow: #dab75a -3px 3px 0px;
}

.description p {
    color: #dab75a;
    font-size: 1.3rem;
    line-height: 1.5;
}

#section1{
    height: 700px;
    background:green;
    display: inline-block;
    width: 100%;
}

#section2{
    height: 700px;
    background:red;
    display: inline-block;
    width: 100%;
}

#section3{
    height: 700px;
    background:yellow;
    display: inline-block;
    width: 100%;
}

#section4{
    height: 700px;
    background:grey;
    display: inline-block;
    width: 100%;
}

#section5{
    height: 700px;
    background:blue;
    display: inline-block;
    width: 100%;
}